<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= memes.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%= memes._id.getTimestamp().toString().substring(0,15) %></h4>
                    <h4 ><%=memes.description%></h4>
                    <p>
                        <em>Submitted by <%= memes.author.username %></em>
                    </p>
                    <% if(currentUser && memes.author.id.equals(currentUser._id)){ %>
                       <a class="btn btn-warning" href="/memes/<%=memes._id%>/edit">Edit</a>
                       <form class="delete-form" action="/memes/<%=memes._id%>?_method=DELETE" method="POST">
                           <button class="btn btn-danger">Delete</button>
                       </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <!--<a class="btn btn-success" href="/memes/<%= memes._id %>/comments/new">Add New Comment</a>-->
                         <form id="cForm" action="/memes/<%= memes._id %>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="What are your thoughts?">
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-primary">Comment</button>
                </div>
            </form>
                </div>
                <hr>
                <!--show each comment associated with the meme-->
                <% memes.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <span id="authorComment"><strong><%=comment.author.username %></strong></span>
                        <span class="pull-right"><%= comment._id.getTimestamp().toString().substring(0,21) %></span>
                        <p>
                           <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning btn-xs"
                            href="/memes/<%= memes._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a>
                        <form class="delete-form" action="/memes/<%= memes._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>



<% include ../partials/footer %>